.botao{
    background-color: #19b5ff;
    border: 10px solid #1a4052;
    border-radius: 200px;
    border-width: 10px;
    padding: 50px 64px;
    text-align: center;
    font-size: 32px;
    color: white;
    cursor: pointer;
}
.destaque{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 75px;
    color: #ff0000;
    text-shadow: 
        0 0 7px #fff,
        0 0 10px #ff9e9e,
        0 0 42px #FF0000,
        0 0 77px #FF0000,
        0 0 100px #FF0000;
}